.flex-container-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topPad {
    padding-top: 3rem;
    line-height: 15px;
    font-family: Balham;
    font-size: 4rem;
  }

@font-face {
  font-family: "Balham";
  src: url('../../Fonts/Balham.otf');
}

.project-title {
  font-family: Balham;
  font-size: 3rem;
}

.project-text {
  font-family: Balham;
  font-size: 1.5rem;
}

.noPad {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

html,
body {
  position: relative;
  height: 100%;
  /*background: rgb(254,254,254);
  background: linear-gradient(180deg, rgba(254,254,254,1) 0%, rgba(255,255,255,1) 50%, rgba(245,233,225,1) 84%);*/
}

.insetContent {
  padding-top: 1%;
}

.topbarHeight {
  height: 20%;
}

.swiper-container {
  height: 100%;
}
.image-height {
    height: 100%;
}

.container {
  font-family: Balham;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 85%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide:hover {
    opacity: 0.25;
}

.grid-item { width: 40%; margin-top: 0.5rem; }
.grid-item-width2 { width: 80%; }

.grid {
  width: 100%;
}

.project-text-region {
  margin-top: 3%;
}